{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'simple-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="cave-img" src="{% static 'images/cave.png' %}">
        </div>
    </div>
    <div class="row">
        <div class="col-8" style="margin-bottom: 0%;">
            <h2>WELCOME TO THE ORACLE TEXT</h2>
            <h4>TEXT TO INTRODUCE GROUND. That’s the tragedy! He didn’t say anything. And I didn’t say anything to him. We just looked at each other. I was going to put something in his mouth. But I didn’t. I only put something in yours. I put my arm out. I sat on it. It was my arm. I put my arm in your mouth. It was my arm. I think he’s gone into the SEA  and that’s why he’s gone. He’s fallen into the sea. </h4>
            <br>
            <h4 class="input-header-desktop"><i>Select the scenario you've just finished or select "0" to interact with the Oracle before playing:</i></h4>
            <h4 class="book-error hide">Please make sure to select a valid offering string.</h4>
        </div>
        <div class="col-4" style="margin-bottom: 0%;">
            <img class="lunar-phases-img" src="{% static 'images/lunar-phases.png' %}">
            <img class="mini-moon-img" src="{% static 'images/mini-moon.png' %}">
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <form>
                <input class="book-id" placeholder="Enter your Book Number..." oninput="checkInputLength()">
            </form>

            </input>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 chat_box" id="chat_box">
            <p>And I didn’t say anything to him. We just looked at each other. I was going to put something in his mouth. But I didn’t. I only put something in yours. I put my arm out. I sat on it. It was my arm. I put my arm in your mouth. It was my arm. I think he’s gone into the SEA and that’s why he’s gone. He’s fallen into the sea. </p>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="overlay hide">
                <div class="browser-not-supporting-audio-recording-box">
                    <p>To record audio, use browsers like Chrome and Firefox that support audio recording.</p>
                    <button type="button" class="close-browser-not-supported-box">Ok.</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row recorder-div hide">
        <div class="col-12">
            <h4 class="voice-note-header"><i>You must record a message for the Oracle to be granted three questions.</i></h4>
        </div>
        <div class="col-2" id="input-header-mobile">
            <h4><i>You must record a message for the Oracle to be granted three questions.</i></h4>
        </div>
        <div class="overlay hide">
            <div class="browser-not-supporting-audio-recording-box">
            <p>To record audio, use browsers like Chrome and Firefox that support audio recording.</p>
            <button type="button" class="close-browser-not-supported-box">Ok.</button>
        </div>
        </div>
    </div>

    <div class="row recorder-div hide">
        <div class="col-3">
            <button class="button start-recording-button">RECORD YOUR NOTE</button>
            <button class="button stop-recording-button hide">STOP RECORDING</button>
        </div>

        <div class="col-3">
            <button class="button cancel-recording-button hide">CANCEL</button>
            <button class="button send-recording-button hide">SEND VOICE NOTE</button>
        </div>
        <div class="col-2">
            <div class="recording-elapsed-time">
                <p class="elapsed-time"></p>
            </div>
        </div>
        <div>
            <audio controls class="audio-element hide"></audio>
        </div>
    </div>

    <div class="row message-box-div hide">
        <div class="col-12">
            <h4 class="interactions"></h4>
        </div>
        <div class="col-2" id="input-header-mobile">
            <h4><i>Record your message to be granted access to the Oracle.</i></h4>
        </div>
    </div>

    <div class="row message-box-div hide">
        <div class="col-6">
            <textarea id="text-input" class="text-input" rows="4" placeholder="Enter text here..."></textarea>
        </div>
        <div class="col-4">
            <button class="send-text-message button">SEND YOUR MESSAGE</button>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-12 console"></div>
    </div>

    <div class="row" id="footer-row">
        <div class="col-10"></div>
        <div class="col-2">
            <p class="footer-text"><a href="https://ukaiprojects.com/what-is-ukai">About UKAI</a></p>
        </div>
    </div>
</div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'carnival-page.js' %}"></script>

