{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'simple-grid.css' %}">

<script>
</script>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="cave-img" src="{% static 'images/cave.png' %}">
        </div>
    </div>
    <div class="row">
        <div class="col-8" style="margin-bottom: 0%;">
            <h2>WELCOME TO THE ORACLE TEXT</h1>
            <h4>TEXT TO INTRODUCE GROUND. That’s the tragedy! He didn’t say anything. And I didn’t say anything to him. We just looked at each other. I was going to put something in his mouth. But I didn’t. I only put something in yours. I put my arm out. I sat on it. It was my arm. I put my arm in your mouth. It was my arm. I think he’s gone into the SEA  and that’s why he’s gone. He’s fallen into the sea. </h4>
            <br>
            <h4 class="input-header-desktop"><i>Enter in your email to join the waitlist for details on GROUND.</i></h4>
        </div>
        <div class="col-4" style="margin-bottom: 0%;">
            <img class="lunar-phases-img" src="{% static 'images/lunar-phases.png' %}">
            <img class="mini-moon-img" src="{% static 'images/mini-moon.png' %}">
        </div>
    </div>
    <div class="row">
        <div class="col-2" id="input-header-mobile">
            <h4><i>Enter in your email to join the waitlist for details on GROUND.</i></h4>
        </div>
        
        <div class="col-6" style="margin-top: 0%;">
            <input class="text-input" placeholder="Enter your email...">
            </input>
        </div>
        <div class="col-4" style="margin-top: 0%;">
            <button class="button">STEP INTO THE RITUAL</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row" id="footer-row">
        <div class="col-10"></div>
        <div class="col-2">
            <p class="footer-text"><a href="https://ukaiprojects.com/what-is-ukai">About UKAI</a></p>
        </div>
    </div>
</div>