{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'simple-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="cave-img" src="{% static 'images/cave.png' %}">
        </div>
    </div>
    <div class="row">
        <div class="col-8" style="margin-bottom: 0%;">
            <h2>WELCOME TO THE ORACLE TEXT</h2>
            <h4>TEXT TO INTRODUCE GROUND. That’s the tragedy! He didn’t say anything. And I didn’t say anything to him. We just looked at each other. I was going to put something in his mouth. But I didn’t. I only put something in yours. I put my arm out. I sat on it. It was my arm. I put my arm in your mouth. It was my arm. I think he’s gone into the SEA  and that’s why he’s gone. He’s fallen into the sea. </h4>
            <br>
            <h4 class="input-header-desktop"><i>Select the scenario you've just finished or select "0" to interact with the Oracle before playing:</i></h4>
            <h4 class="cave-scenario-error hide">Please make sure to select a valid CAVE and Scenario ID.</h4>
            <h4 class="intro-book input-header-desktop"><i>Please enter your Book ID to ask your questions:</i></h4>
            <h4 class="error-book hide">The Book ID you entered was incorrect.</h4>
        </div>
        <div class="col-4" style="margin-bottom: 0%;">
            <img class="lunar-phases-img" src="{% static 'images/lunar-phases.png' %}">
            <img class="mini-moon-img" src="{% static 'images/mini-moon.png' %}">
        </div>
    </div>

    <div class="row chat_box_row hide">
        <div class="col-2"></div>
        <div class="col-8 chat_box fade-in" id="chat_box">
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row error-interactions hide">
        <div class="col-2" id="input-header-mobile">
            <h4><i>You are out of questions...</i></h4>
        </div>
        <div class="col-2" class="input-header-desktop">
            <h4><i>You are out of questions...</i></h4>
        </div>
    </div>

    <div class="row interactions hide">
        <div class="col-12">
            <h4 class="interactions-text"></h4>
        </div>
    </div>

    <div class="row message-box hide">
        <div class="col-6">
            <textarea id="text-input" class="text-input" rows="4" placeholder="Enter text here..."></textarea>
        </div>
        <div class="col-4">
            <button class="send-text-message button">SEND YOUR MESSAGE</button>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-3">
            <form>
                <input
                  class="chosen-value"
                  type="text"
                  value=""
                  placeholder="CAVE SELECT"
                />
                <ul class="value-list">
                  <li>GREEN</li>
                  <li>BEAUTY</li>
                  <li>RAGE</li>
                  <li>BODY</li>
                  <li>FAITH</li>
                  <li>KNOWLEDGE</li>
                  <li>DISORDER</li>
                </ul>
              </form>
        </div>
        <div class="col-3">
            <form>
                <input
                  class="chosen-value"
                  type="text"
                  value=""
                  placeholder="SCENARIO SELECT"
                />
                <ul class="value-list">
                  <li>0</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                </ul>
              </form>
        </div>
        <div class="col-4">
            <form>
                <input class="book-id" placeholder="Enter your Book Number..." oninput="checkInputLength(1)">
            </form>

            </input>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-12 console"></div>
    </div>-->

    <div class="row" id="footer-row">
        <div class="col-10"></div>
        <div class="col-2">
            <p class="footer-text"><a href="https://ukaiprojects.com/what-is-ukai">About UKAI</a></p>
        </div>
    </div>
</div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'ground-page.js' %}"></script>

