{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'simple-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<div class="background-image layer-2"></div>
<div class="background-image layer-1"></div>
<div class="background-image layer-0"></div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
</svg>

<!--<h4 class="moonDialLabel">MOON CYCLE</h4>-->

<div class="box fade-in chat-box hide">
            <i></i>
            <h4 id="oracle-response"><span class="highlight stroke-text smooth-16">Welcome to the our portal with the Oracle. Connecting with the Oracle will help you move the game forward but also uses your messages to get themselves better grounded in the world. They struggle with being in one place at one time and your contributions help keep them tethered for long enough to have a look around. Enter in your book ID, CAVE, and scenario to begin. You get 3 interactions per scenario; think twice about your question. Select scenario 0 to begin. You get 3 interactions per scenario; think twice about your question. Select scenario 0 to begin. You get 3 interactions per scenario; think twice about your question. Select scenario 0 to begin.</span></h4>


</div>


<div class="container left-container ">
    <div class="row cta background fade-in">
        <div class="col-12 backdrop-shadow">
            <h2>WE EXIST IN BODY, IN PLACE AND IN STORY.</h2>
            <h4>WHICH CAVE WILL YOU FIND? Welcome to the our portal with the Oracle. Connecting with the Oracle will help you move the game forward but also uses your messages to get themselves better grounded in the world. They struggle with being in one place at one time and your contributions help keep them tethered for long enough to have a look around. Enter in your book ID, CAVE, and scenario to begin. You get 3 interactions per scenario; think twice about your question. Select scenario 0 to begin.</h4>
        </div>
    </div>

    <div class="row background book-inputs production-console fade-in hide">
        <div class="col-12 backdrop-shadow">
            <h4 class=""><i>Select the scenario you've just finished or select "0" to interact with the Oracle before playing:</i></h4>
            <h4 class="cave-scenario-error hide">Please make sure to select a valid CAVE and Scenario ID.</h4>
            <h4 class="error-book hide">The Book ID you entered was incorrect.</h4>
            <h4 class="interactions-text hide"></h4>
        </div>
    </div>
    <!--
    <div class="row error-interactions fade-in hide">
        <div class="col-2" id="input-header-mobile">
            <h4><i>You are out of questions...</i></h4>
        </div>
        <div class="col-2" class="input-header-desktop">
            <h4><i>You are out of questions...</i></h4>
        </div>
    </div>-->


    <div class="row cta fade-in">
        <div class="col-3-sm col-3">
        </div>
        <div class="col-6-sm col-6 backdrop-shadow margin-top-reduction">
            <button class="button">Begin</button>
        </div>
        <div class="col-3-sm col-3">
        </div>
    </div>

    <div class="row book-inputs fade-in hide">
        <div class="col-3-sm col-3 book-input-spacer fade-in">
        </div>
        <div class="col-6-sm col-6 fade-in">
            <form>
                <input
                  class="chosen-value backdrop-shadow"
                  type="text"
                  value=""
                  placeholder="CAVE SELECT"
                />
                <ul class="value-list">
                  <li>GREEN</li>
                  <li>BEAUTY</li>
                  <li>RAGE</li>
                  <li>BODY</li>
                  <li>FAITH</li>
                  <li>KNOWLEDGE</li>
                  <li>DISORDER</li>
                </ul>
              </form>
        </div>
        <div class="col-3-sm col-3">
        </div>
    </div>

    <div class="row book-inputs fade-in hide">
      <div class="col-3-sm col-3 book-input-spacer">
        </div>
        <div class="col-6-sm col-6 fade-in">
            <form>
                <input
                  class="chosen-value backdrop-shadow"
                  type="text"
                  value=""
                  placeholder="SCENARIO SELECT"
                />
                <ul class="value-list">
                  <li>0</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                </ul>
              </form>
        </div>
        <div class="col-3-sm col-3">
        </div>
    </div>

    <div class="row book-inputs fade-in hide">
      <div class="col-3-sm col-3 book-input-spacer fade-in">
        </div>
        <div class="col-6-sm col-6 fade-in">
            <form>
                <input class="book-id backdrop-shadow" placeholder="BOOK ID">
            </form>

            </input>
        </div>
        <div class="col-3-sm col-3">
        </div>
    </div>

    <div class="row book-inputs fade-in hide">
        <div class="col-3-sm col-3 book-input-spacer">
        </div>
        <div class="col-3-sm col-3 backdrop-shadow">
            <button class="button-back button margin-top-reduction">Back</button>
        </div>
        <div class="col-3-sm col-3 backdrop-shadow">
            <button class="button-start button margin-top-reduction">Start</button>
        </div>
        <div class="col-3-sm col-3">
        </div>
    </div>
</div>

<div class="container middle-container">
    <div class="row message-box fade-in hide ">
        <div class="col-2 mobile-spacer-remove"></div>
        <div class="col-12-sm col-8">
            <textarea id="text-input" class="text-input backdrop-shadow" rows="4" placeholder="The Oracle waits, limping..."></textarea>
        </div>
        <div class="col-2 mobile-spacer-remove"></div>
    </div>

    <div class="row message-box fade-in hide">
        <div class="col-2-sm col-4"></div>
        <div class="col-8-sm col-4 margin-top-reduction backdrop-shadow">
            <button class="send-text-message button">SEND YOUR MESSAGE</button>
            <button class="try-again-button button hide">TRY AGAIN</button>
        </div>
        <div class="col-2-sm col-4"></div>
    </div>
</div>

<div class="container right-container">
  <div class="row">
    <div class="col-2-sm col-2 mobile-menu-button hide fade-in">
        <button class="button margin-top-reduction">Update</button>
    </div>
    <div class="col-2 mobile-spacer-remove"></div>
    <div class="col-2-sm col-2 footer-text fade-in">
        <p><a href="https://ukaiprojects.com/what-is-ukai">About UKAI</a></p>
    </div>
  </div>
</div>

    <!--<div class="row">
        <div class="col-12 console"></div>
    </div>-->
</div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'ground-page.js' %}"></script>
<script src="{% static 'moon-dial.js' %}"></script>

